body {
  font-family: Verdana, 'Bitstream Vera Sans', 'VerdanaLinux', sans-serif;
}

h1,
h2 {
  font-family: Verdana, 'Bitstream Vera Sans', 'VerdanaLinux', sans-serif;
  font-weight: 700;
}

.container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

@media (max-width: 1280px) {
  .container {
    display: block;
  }
}
