@font-face {
    font-family: Verdana;
    src: url("/Verdana.woff2") format("woff");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: Verdana Bold;
    src: url("/Verdana Bold.woff2") format("woff");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

body {
    h1 {
        font-family: Verdana, sans-serif;
        color: red;
        p {
            color: black;
        }
    }
}