.fondo {
  position: sticky;
  top: 0;
  padding-top: 8vh;
  height: 100vh;
  background-color: var(--primary-color);
  grid-column-start: 1;
  grid-column-end: 3;
  color: var(--primary-fg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .textoSidebar {
    width: 100%;
    padding: 0 0 0 3vw;
  }

  h1 {
    font-size: clamp(1.1em, 2vw, 3em);
    margin-bottom: 10vh;
  }

  nav {
    a {
      font-size: clamp(1.1em, 1.3vw, 1.6em);
      display: block;
      cursor: pointer;
    }
  }

  img {
    width: 20%;
    margin-bottom: 10vh;
  }
}

.seleccion {
  display: flex;
  align-items: center;
  margin-bottom: 3.5vh;

  div {
    margin-right: 1vw;
    background-color: var(--primary-fg-color);
    width: 0.25vw;
    height: 1.2vw;
  }
}

.desplegable {
  position: sticky;
  top: 0;
}
header {
  display: none;
  justify-content: space-between;
  background-color: var(--primary-color);
  color: var(--primary-fg-color);
  padding: 1rem;
  top: 0;
  h1 {
    font-size: 1.5em;
  }
}

.menuDesplegable {
  background-color: var(--primary-color);
  color: var(--primary-fg-color);
  padding: 2em;
  font-size: 1.1em;
  top: 2em;
}

@media (max-width: 1279px) {
  .fondo {
    display: none;
  }
  header {
    display: flex;
  }
}
