.contenido {
  grid-column-start: 3;
  grid-column-end: 11;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 8vh;

  img {
    position: absolute;
    top: 0;
    right: 0;
    margin: 8vh 4vw;
    width: 138px;
    z-index: -1;
  }
}

.default {
  display: flex;
  align-items: center;
  height: 100%;
  padding-bottom: 8vh;
  h1 {
    font-family: Verdana, 'Bitstream Vera Sans', 'VerdanaLinux Bold', sans-serif;
    font-weight: 700;
    font-size: clamp(1.2em, 4vw, 1.5em);
    text-align: center;
  }
}

@media (max-width: 1280px) {
  .contenido {
    margin-top: 2em;
  }
  .default {
    margin-top: 2em;
  }
}

@media (max-width: 1366px) {
  .contenido {
    img {
      position: relative;
      margin: 8vh;
    }
  }
}
