th {
  background-color: var(--primary-color);
  color: var(--primary-fg-color);
  padding: 0.5em;
  height: 4vh;
}

td {
  background-color: #f4f4f4;
  padding: 0.5em 0.25em;
  height: 4vh;
  vertical-align: middle;
}

.huecoAcimutes {
  padding: 0;
}

table {
  border-spacing: 0px;
  width: 40vw;
  text-align: center;
  color: var(--fg-color);
}

@media (max-width: 1280px) {
  table {
    width: 100%;
  }
}

#header {
  width: clamp(13em, 20vw, 60em);
}

#contenedor {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

#doble {
  width: 100%;
  padding: 0;
}

.ERROR {
  text-align: center;
}

.intervalo {
  margin-bottom: 7vh;
}

#quitar {
  background-color: aqua;
  background: 1000px;
}
