th {
  background-color: var(--primary-color);
  color: var(--primary-fg-color);
  padding: 2% 0;
  height: 4vh;
}

td {
  background-color: #f4f4f4;
  padding: 2% 0;
  height: 4vh;
}

table {
  width: 100%;
  height: 100%;
  border-spacing: 0px;
  width: 30vw;
  text-align: center;
  color: var(--fg-color);
}

@media (max-width: 1280px) {
  table {
    width: 100%;
  }
  #header {
    min-width: 30vw;
  }
}

#header {
  width: 10vw;
}

#contenedor {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}

#doble {
  width: 100%;
}

.ERROR {
  text-align: center;
}

.intervalo {
  margin-bottom: 7vh;
}

#quitar {
  background-color: aqua;
  background: 1000px;
}
